extends layout

block content
  script.
    var units = !{JSON.stringify(allunits)};
    var modifiers = !{JSON.stringify(allmodifiers)};
    var unitmodifiers = !{JSON.stringify(allunitmodifiers)};
    var unitswithmodifiers = !{JSON.stringify(allunitswithmodifiers)};
  .tab-container
    .tab.active
      .tab-headers
        h3 Step 1
        p Welcome to #{title}
        p Please define players 
      .tab-main
        form(id="playerNameForm" action="")
          input(id="playerNameInput" type="text", placeholder="Player name")
          input(type="submit" value="ADD")
        ol#players-list
      .tab-footers
        .flex-row.step-buttons
          button.prev-step-button() PREVIOUS
          button.next-step-button() CONTINUE
    .tab
      .tab-headers
        h3 Step 2
        p Players are now defined.
        p Please select units to add to each players' armies.
      .tab-main
        .flex-row.two-pane
          .unitSelectionPane
            .unit-list
              input(id="unitSelectionSearch")
              select(id="unitSelectionList", name="unitSelectionList", size="10")
                option N/A
            .unit-details
              .unit-header.flex-row
                span(id="unitSelectionUnitName") Unitname Namedness
                span(id="unitSelectionUnitPts") 215 Pts
              .stats-grid
                .grid-header F 
                .grid-header S
                .grid-header D 
                .grid-header A
                .grid-header W 
                .grid-header C
                .grid-header M / W / F
                .grid-item 0/-
                .grid-item 0
                .grid-item 0
                .grid-item 0
                .grid-item 0
                .grid-item 0
                .grid-item 0 / 0 / 0
              .unit-modifiers
                p No modifiers available.
              .flex-row
                .input-group.inline
                  label(for="unitSelectionPlayer") Add to army:
                  select(id="unitSelectionPlayer", name="unitSelectionPlayer")
                    option N/A
                .input-group.inline
                  label(for="unitSelectionQty") Quantity:
                  input(id="unitSelectionQty", type="number", name="unitSelectionQty", min="1", value="1")
              .add-unit-container.flex-row(style="align-items: center;")
                  span.subtotal-label Subtotal:
                  span.subtotal-value(id="unitSelectionSubtotal") 0 Pts
                  button(id="unitSelectionAddUnitButton", value="RECRUIT") RECRUIT
          .selection-display-pane.flex-col
            .selection-display-details
              .player-tab-control(id="unitDisplayTabControl")
                .player-tab-labels
                .player-tab-container
      .tab-footers
        .flex-row.step-buttons
          button.prev-step-button() PREVIOUS
          button.next-step-button() CONTINUE
    .tab
      .tab-headers
        h3 Step 3
        p Players' armies are now defined.
        p Proceed with your match.
      .tab-main
        .flex-row.two-pane
          .unit-compare-pane
            .player-tab-control
              .player-tab-labels
                a .
              .player-tab-container
                p .
            .unit-compare-details
              .unit-details
                .unit-header.flex-row
                  span(id="unitSelectionUnitName") Unitname Namedness
                  span(id="unitSelectionUnitPts") 215 Pts
                .stats-grid
                  .grid-header F 
                  .grid-header S
                  .grid-header D 
                  .grid-header A
                  .grid-header W 
                  .grid-header C
                  .grid-header M / W / F
                  .grid-item 0/-
                  .grid-item 0
                  .grid-item 0
                  .grid-item 0
                  .grid-item 0
                  .grid-item 0
                  .grid-item 0 / 0 / 0
                .unit-modifiers
                  p No modifiers available.
            .unit-compare-list-container
          .unit-compare-pane
            .player-tab-control
              .player-tab-labels
                a .
              .player-tab-container
                p .
            .unit-compare-details
              .unit-details
                .unit-header.flex-row
                  span(id="unitSelectionUnitName") Unitname Namedness
                  span(id="unitSelectionUnitPts") 215 Pts
                .stats-grid
                  .grid-header F 
                  .grid-header S
                  .grid-header D 
                  .grid-header A
                  .grid-header W 
                  .grid-header C
                  .grid-header M / W / F
                  .grid-item 0/-
                  .grid-item 0
                  .grid-item 0
                  .grid-item 0
                  .grid-item 0
                  .grid-item 0
                  .grid-item 0 / 0 / 0
                .unit-modifiers
                  p No modifiers available.
            .unit-compare-list-container
        .unit-compare-outcomes.flex-row
          .wound-chart(style="flex-grow: 4")
          .outcomes-container.flex-col(style="flex-grow: 2")
            .outcome.outcome-melee(style="flex-grow: 1")
              span 4 
              span to wound
            .outcome.outcome-ranged(style="flex-grow: 1")
              span -
              span 
      .tab-footers
        .flex-row.step-buttons
          button.prev-step-button() PREVIOUS
          button.next-step-button() CONTINUE